.container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 20px;
    justify-content: center;
}

.container .img-container img {
    width: 100%;
    border-radius: 20px;
}

header {
    background-color: bisque;
    padding: 20px;
    margin: 20px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}

header nav ul li {
    border: 1px solid rgb(255, 186, 186);
    background-color: brown;
    padding: 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;

}

footer {
    background-color: black;
    padding: 20px;
    margin: 20px;
}


footer nav ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}

footer nav ul li {
    border: 1px solid rgb(255, 186, 186);
    background-color: brown;
    padding: 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;

}